page-dentart {

  .container {
    text-align: center;
    background-repeat: no-repeat;
    /* background: radial-gradient(circle at 45% 20%,#327AD6 41%,rgba(0,0,0,0.0) 41%),
    radial-gradient(circle at 48% 24%,#C7F6F7 47%,#FFFFFF 47%); */
    background-image: url('../../assets/imgs/background/fond-1.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 100%;
  }

  .logo {
    width: 150px;
    height: 150px;
  }

  .da-ctn {
    margin-top: -20px;
  }

  .da {
    font-size: 240%;

    .bold {
      font-weight: bolder;
    }

    .fine {
      font-weight: 100;
    }
  }

  .wc-ctn {
    margin-top: -15px;
  }

  .wc {
    font-size: 100%;
    font-weight: bolder;
  }

  .color-white {
    color: white;
  }

  .separator {
    height: 130px;
  }

  .btn-blue-gradient {
    width: 80%;
    height: 40px;
    margin: auto;
    text-transform: none;
    font-size: 120%;
    background: -moz-linear-gradient(to right, #2684FC, #07E3DA);
    background: -webkit-linear-gradient(to right, #2684FC, #07E3DA);
    background: linear-gradient(to right, #2684FC, #07E3DA);
    box-shadow: none;
  }

  .btn-light {
    width: 80%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    text-transform: none;
    background-color: rgba($color: #000000, $alpha: 0.0);
    font-size: 120%;
    color: color($colors, bleu);
    border: color($colors, bleu) 1px solid;
    box-shadow: none;
  }

  .ligne {
    width: 60%;
    height: 1px;
    background-color: #e0e0e0;
    margin: auto;
    margin-top: 20px;
  }

  .status-value {
    width: 80%;
    height: 1px;
    background-color: color($colors, bleu);
  }
}
