page-dentart {

  .container {
    text-align: center;
    background-image: url('../../assets/imgs/background/bgConnexion.png');
    background-size: 100% 97%;
    background-repeat: no-repeat;
    background: radial-gradient(circle at 45% 20%, 
    #327AD6 40%, 
    rgba(0,0,0,0.0) 40%),
    radial-gradient(circle at 48% 24%, 
    #C7F6F7 45%, 
    #FFFFFF 45%);
    min-height: 100%;
  }

  .logo {
    width: 150px;
    height: 150px;
  }

  .da-ctn {
    margin-top: -20px;
  }

  .da {
    font-size: 240%;

    .bold {
      font-weight: bolder;
    }

    .fine {
      font-weight: 100;
    }
  }

  .wc-ctn {
    margin-top: -15px;
  }

  .wc {
    font-size: 100%;
    font-weight: bolder;
  }

  .color-white {
    color: white;
  }

  .separator {
    height: 100px;
  }

  .btn-blue-gradient {
    width: 80%;
    height: 50px;
    margin: auto;
    text-transform: none;
    font-size: 120%;
    background: -moz-linear-gradient(to right, #329FF9, #50E3C2);
    background: -webkit-linear-gradient(to right, #329FF9, #50E3C2);
    background: linear-gradient(to right, #329FF9, #50E3C2);
  }

  .btn-light {
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    text-transform: none;
    background-color: rgba($color: #000000, $alpha: 0.0);
    font-size: 120%;
    color: color($colors, vert);
    border: color($colors, vert) 1px solid;
  }

  .ligne {
    width: 60%;
    height: 1px;
    background-color: color($colors, gris);
    margin: auto;
    margin-top: 20px;
  }

  .status-value {
    width: 80%;
    height: 1px;
    background-color: color($colors, bleu);
  }
}
