page-annonces-filter {

  .container {
    text-align: center;
    background-image: url('../../assets/imgs/background/bgConnexion.png');
    background-size: 100% 100%;
  }

  .top-margin {
    height: 30px;
  }

  .logo {
    width: 100px;
    height: 85px;
  }

  .da-ctn {
    margin-top: -30px;
  }

  .da {
    font-size: 150%;

    .bold {
      font-weight: bolder;
    }

    .fine {
      font-weight: 100;
    }
  }

  .wc-ctn {
    margin-top: -15px;
  }

  .wc {
    font-size: 130%;
    font-weight: bolder;
  }

  .color-white {
    color: white;
  }

  .form-ctn {
    background-color: rgba(250, 250, 250, 0.7);
    width: 90%;
    margin-left: 5%;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
  }

  .vertdc {
    width: 17px;
    height: 17px;
    background-color: color($colors, vertdc);
    border-radius: 50%;
  }

  .greydc {
    width: 17px;
    height: 17px;
    background-color: color($colors, gris);
    border-radius: 50%;
  }

  .cacc-avatar {
    width: 80px;
    height: 80px;
    background-color: color($colors, gris);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
  }

  .margin-a {
    padding-top: 20px;
    margin-bottom: 25px;
  }

  .btn-ctn-left {
    text-align: left;
  }

  .btn-blue-gradient {
    width: 90%;
    height: 42px;
    text-transform: none;
    font-size: 120%;
    margin: auto;
    margin-top: 10px;
    background: -moz-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: -webkit-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    border-radius: 5px;
    font-weight: 100;

    .icon-checked {
      position: absolute;
      right: 5px;
      display: none;
    }
  }

  .btn-blue-gradient .button-inner {
    justify-content: flex-start;
  }

  .btn-blue-gradient-round {
    width: 60%;
    height: 50px;
    text-transform: none;
    font-size: 120%;
    margin: auto;
    margin-top: 15px;
    background: -moz-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: -webkit-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
  }

  .btn-no-bg {
    color: color($colors, bleu);
    font-size: 120%;
  }

  .gc {
    font-size: 130%;
    color: white;
    margin-top: 5px;
    font-weight: bolder;
  }

  .gc-label {
    text-align: justify;
    white-space: normal;
  }

  .back-gc {
    zoom: 2;
    margin-left: 5%;
  }

  .btn-blue-gradient-round {
    width: 60%;
    height: 50px;
    text-transform: none;
    font-size: 120%;
    margin: auto;
    margin-top: 15px;
    background: -moz-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: -webkit-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
  }

}
