<ion-content class="container">

  <div class="load-ctn" id="load" *ngIf="load == 1">
    <img class="load-img" src="../../assets/imgs/load/load.gif" />
  </div>

  <ion-grid fixed class="header">
    <ion-row>
      <ion-col>
        <ion-label class="da">
          <img class="logo" src="assets/imgs/da_image/logo-dentart.png">
          <span class="bold">Dent</span><span class="fine">Art</span>
        </ion-label>
      </ion-col>
      <ion-col (click)="openMenu();">
        <img class="btn-menu" src="assets/imgs/da_image/menu-icon.png">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="map-ctn">
    <div id="map"></div>
  </ion-row>

  <div class="card-shape">
    <ion-row class="nb-row">
      <ion-col col-3>
        <ion-label class="nb-annonces">
          {{listAds.length}} annonces à proximit&#233;s
        </ion-label>
      </ion-col>
      <ion-col>
        <div class="btn-blue-gradient">
          <ion-icon class="custom-map-marker map-marker" ></ion-icon>
        </div>
      </ion-col>

    </ion-row>

    <ion-row *ngFor="let ad of listAdsSorted" class="card-ctn" (click)="showDetails(ad);">

      <ion-col>

        <ion-row>
          <div class="avatar-ctn">
            <img class="avatar" src="{{ad.ad.ad_image_1 != '' ? ad.ad.ad_image_1 : 'assets/imgs/avatar/dent1.jpg'}}"
              alt="Image">
          </div>

          <ion-label class="about-user">
            <span class="signal-icon">
              <ion-icon name="ios-alert-outline" color="bleu"></ion-icon>
            </span>
            <span class="date-annonce">
              {{ad.ad.date}}
            </span>
            <span class="name-bold"><br>
              {{ad.ad.title}}
            </span>
            <span class="cat-bold"><br>
              {{ad.cat.name}}
            </span>
            <span class="lieu-fine"><br>
              {{ad.ad.address}}
            </span>
            <span class="tarif"><br>
            </span>
          </ion-label>
        </ion-row>

      </ion-col>
    </ion-row>
  </div>



  <ion-row class="separator"></ion-row>

  <ion-row class="tabs">
    <ion-col>
      <ion-icon class="faq-icon">
        <img class="custom-icon-1" src="../../assets/icon/sort-by-attributes.svg">
        <span><br>Trier</span>
      </ion-icon>
    </ion-col>
    <ion-col (click)="filter()">
      <ion-icon class="faq-icon">
        <img class="custom-icon-1" src="../../assets/icon/funnel.svg">
        <span><br>Filtrer</span>
      </ion-icon>
    </ion-col>
    <ion-col (click)="newAnnonce();">
      <ion-icon class="faq-icon">
        <img class="custom-icon" src="../../assets/imgs/da_image/photo-camera-blue.png">
        <span><br>Ajouter</span>
      </ion-icon>
    </ion-col>
  </ion-row>

</ion-content>
