page-createacc2 {

  .container {
    padding-top: 15px;
    text-align: center;
    background-image: url('../../assets/imgs/background/bgConnexion.png');
    background-size: 100% 65%;
    background-repeat: no-repeat;
  }

  .top-margin {
    height: 10px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .da-ctn {
    margin-top: -30px;
  }

  .da {
    font-size: 150%;

    .bold {
      font-weight: bolder;
    }

    .fine {
      font-weight: 100;
    }
  }

  .wc-ctn {
    margin-top: -15px;
  }

  .wc {
    font-size: 130%;
    font-weight: bolder;
  }

  .color-white {
    color: white;
  }

  .form-ctn {
    background-color: rgba(255, 255, 255, 0.97);
    width: 90%;
    margin-left: 5%;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
  }

  .vertdc {
    width: 17px;
    height: 17px;
    background-color: color($colors, vertdc);
    border-radius: 50%;
    margin: 5px;
  }

  .greydc {
    width: 17px;
    height: 17px;
    background-color: #D3EDff;
    border-radius: 50%;
    opacity: 1;
    margin: 5px;
  }

  .cacc-avatar {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
  }

  .margin-a {
    padding-top: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }

  .btn-ctn-left {
    text-align: left;
  }

  .btn-blue-gradient {
    width: 98%;
    height: 50px;
    text-transform: none;
    font-size: 120%;
    margin: auto;
    margin-top: 10px;
    background: -moz-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: -webkit-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    border-radius: 5px;
    font-weight: 100;

    .icon-checked {
      position: absolute;
      right: 5px;
      display: none;
    }
  }

  .btn-blue-gradient .button-inner {
    justify-content: flex-start;
  }

  .btn-blue-gradient-round {
    width: 90%;
    height: 50px;
    text-transform: none;
    font-size: 120%;
    margin: auto;
    margin-top: 15px;
    background: -moz-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: -webkit-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
  }

  .btn-no-bg {
    color: color($colors, bleu);
    font-size: 120%;
  }

  .btn-light {
    height: 50px;
    margin-top: 10px;
    text-transform: none;
    background-color: rgba($color: #ffffff, $alpha: 1);
    font-size: 120%;
    color: color($colors, bleu);
    width: 60%;
  }

}
