<ion-content >

  <ion-grid class="container">

    <ion-row>
      <ion-label>
        <img class="logo" src="assets/imgs/da_image/logo-dentart.png">
      </ion-label>
    </ion-row>

    <ion-row class="da-ctn">
      <ion-label class="color-white da">
        <span class="bold">Dent</span><span class="fine">Art</span>
      </ion-label>
    </ion-row>

    <ion-row class="wc-ctn">
      <ion-label class="color-white wc">Qui &#234;tes vous ?</ion-label>
    </ion-row>

    <ion-row class="form-ctn">
      <ion-col>
        <ion-row>
          <ion-label class="margin-a">
              <div class="vertdc"></div>
              <div class="vertdc"></div>
              <div class="greydc"></div>
              <div class="greydc"></div>
          </ion-label>
        </ion-row>

        <ion-row>
          <ion-avatar class="cacc-avatar">
            <img src="assets/imgs/da_image/avatar-02.png">
          </ion-avatar>
        </ion-row>

        <ion-row *ngFor="let job of jobs; let i = index" class="btn-ctn-left">
          <button id="btn{{i}}" ion-button 
          class="btn-blue-gradient" 
          (click)="selectProfession('btn'+i,'icon_btn_'+i);">
            {{job}}
            <ion-icon id="icon_btn_{{i}}" class="icon-checked" color="gris">
              <img class="check-icon" src="../../assets/imgs/da_image/Group.png" />
            </ion-icon>
          </button>
          <ion-input *ngIf="i == 4" type="text" 
          class="{{classJob}}" id="job" 
          placeholder="Votre profession" 
          [(ngModel)]="otherJob" name="otherJob" (input)="otherJobText();"></ion-input>
        </ion-row>

        <ion-row>
          <button ion-button round class="btn-blue-gradient-round" (click)="nextStep();">Continuer</button>
        </ion-row>

        <ion-row (click)="precedent();">
          <ion-label class="btn-no-bg">Pr&#233;c&#233;dent</ion-label>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
