page-faqadd2 {

  .container {
    background-color: rgba(0, 0, 0, 0.5);

    ion-grid {

      min-height: 100%;

    }

    .flex-row {
      margin: auto;
      text-align: center;
      background-color: white;
      border-radius: 10px;
      width: 98%;
    }

  }



  .ws-norm {
    white-space: normal;
  }

  .title-rec {
    color: color($colors, bleu);
    font-size: 120%;
    font-weight: bold;
  }

  .btn-blue-gradient {
    height: 50px;
    text-transform: none;
    font-size: 100%;
    margin: auto;
    background: -moz-linear-gradient(to right, #329FF9, #50E3C2);
    background: -webkit-linear-gradient(to right, #329FF9, #50E3C2);
    background: linear-gradient(to right, #329FF9, #50E3C2);
  }

  .btn-download {
    height: 50px;
    text-transform: none;
    font-size: 100%;
    margin: auto;
    background: -moz-linear-gradient(to right, #50E3C2, #999999);
    background: -webkit-linear-gradient(to right, #50E3C2, #999999);
    background: linear-gradient(to right, #50E3C2, #999999);
  }

}
