page-createacc4 {

  .container {
    padding-top: 15px;
    text-align: center;
    background-image: url('../../assets/imgs/background/bgConnexion.png');
    background-size: 100% 80%;
    background-repeat: no-repeat;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .da-ctn {
    margin-top: -30px;
  }

  .da {
    font-size: 150%;

    .bold {
      font-weight: bolder;
    }

    .fine {
      font-weight: 100;
    }
  }

  .wc-ctn {
    margin-top: -15px;
  }

  .wc {
    font-size: 130%;
    font-weight: bolder;
    white-space: normal;
  }

  .color-white {
    color: white;
  }

  .form-ctn {
    background-color: rgba(255, 255, 255, 0.97);
    width: 90%;
    margin-left: 5%;
    border-radius: 10px 10px 10px 10px;
    margin-top: 0px;
  }

  .vertdc {
    width: 17px;
    height: 17px;
    background-color: color($colors, vertdc);
    border-radius: 50%;
    margin: 5px;
  }

  .greydc {
    width: 17px;
    height: 17px;
    background-color: #D3EDff;
    border-radius: 50%;
    opacity: 1;
    margin: 5px;
  }

  .cacc-avatar {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin: auto;
  }

  .margin-a {
    padding-top: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }

  .label-ctn {
    text-align: left;
    padding-left: 9px;
    color: rgba($color: #555555, $alpha: 0.5);

    .bottom-label {
      margin-bottom: -13px;
      font-size: 130%;
    }
  }

  .label-ctn-bottom {
    text-align: left;
    padding-left: 9px;
    color: rgba($color: #555555, $alpha: 0.5);

    .bottom-label {
      margin-top: 0px;
      margin-bottom: 26px;
      font-size: 130%;
    }
  }

  .bb-input {
    border-bottom: 1px solid #555555;
    margin-bottom: 40px;
  }

  .bb-input-bottom {
    border-bottom: 1px solid #555555;
    margin-top: -40px;
  }

  .btn-blue-gradient {
    width: 90%;
    height: 50px;
    text-transform: none;
    font-size: 120%;
    margin: auto;
    background: -moz-linear-gradient(to right, #329FF9, #50E3C2);
    background: -webkit-linear-gradient(to right, #329FF9, #50E3C2);
    background: linear-gradient(to right, #329FF9, #50E3C2);
  }

  .btn-no-bg {
    color: color($colors, bleu);
    font-size: 120%;
  }

  .icon-checked {
    margin-top: 20px;
    font-weight: bold;
  }

  .btn-light {
    height: 50px;
    margin-top: 10px;
    text-transform: none;
    background-color: rgba($color: #ffffff, $alpha: 1);
    font-size: 120%;
    color: color($colors, bleu);
    width: 60%;
  }

  .btn-ctn {
    padding-top: 50px;
  }

}
