<ion-content class="pr">

  <div class="container">

    <ion-grid>

      <ion-row class="top-gc">
        <ion-icon class="ion-ios-arrow-back back-gc" color="white" (click)="retour();"></ion-icon>
        <ion-label class="gc" (click)="retour();">
          Retour
        </ion-label>
      </ion-row>

      <ion-row class="signal">

        <ion-label class="signal-lab">
          <span class="alert-faq">Signaler </span>
          <ion-icon class="ion-ios-alert-outline signal-icon" color="white"></ion-icon>
        </ion-label>
      </ion-row>



      <ion-row class="ctn-cmt">
        <ion-col>
          <ion-row class="img-bg">
            <img class="like-bg" src="{{faq.faq.faq_image_1 != null ? faq.faq.faq_image_1 : '../../assets/imgs/da_image/Rectangle-05.jpg'}}">
            <div class="img-slide">
              <ion-label class="margin-a">
                <div class="vertdc"></div>
                <div class="greydc"></div>
                <div class="greydc"></div>
                <div class="greydc"></div>
              </ion-label>
            </div>
          </ion-row>

          <ion-row class="gc-ctn">
            <ion-col>
              <ion-row>
                <ion-label class="gc-label">
                  <span class="titre-faq">{{faq.theme.name}}</span>
                  <div class="sep"></div>
                  {{faq.faq.description}}
                </ion-label>
              </ion-row>
              <ion-row class="gc-ctn">
                <ion-avatar>
                  <img class="img-profil" src="{{faq.author.avatar != '' ? faq.author.avatar : 'assets/imgs/avatar/avatar_h.png'}}">
                </ion-avatar>

                <ion-label class="text-align-left">
                  <span class="bold-name">
                    {{faq.author.pseudo}}<br>
                  </span>
                  <span class="fine-lieu">
                    {{faq.author.job}} - {{faq.author.address}}
                  </span>
                </ion-label>
              </ion-row>
            </ion-col>

          </ion-row>

        </ion-col>
      </ion-row>

    </ion-grid>

    <div class="bg-gradient">
      <ion-row>
        <ion-col>

          <ion-row *ngFor="let com of faq.faq.coms" 
          class="{{com.author_infos.id == user.id_User ? 'me' : 'other_auth'}}">
            <ion-avatar>
              <img class="img-profil-small" src="{{com.author_infos.avatar != '' ? com.author_infos.avatar : '../../assets/imgs/avatar/avatar_h.png'}}">
            </ion-avatar>

            <ion-label class="text-align-left">
              <span class="normal-name">
                {{com.author_infos.pseudo}}<br>
              </span>
              <span class="normal-lieu">
                {{com.author_infos.job}} - {{com.author_infos.address}}<br>
              </span>
              <span class="comment-txt">
                <br>
                {{com.data.comment_content}}
              </span>
              <span><br>
                <img class="com-img" *ngIf="com.image != ''" src="{{com.image}}" />
              </span>
            </ion-label>
          </ion-row>


          <!-- <ion-row class="comment me">
            <ion-avatar>
              <img class="img-profil-small" src="../../assets/imgs/avatar/avatar_f.png">
            </ion-avatar>

            <ion-label class="text-align-left">
              <span class="normal-name">
                Dr Louise Depuis<br>
              </span>
              <span class="normal-lieu">
                Dentiste - Lyon<br>
              </span>
              <span class="comment-txt">
                <br>
                Morbi vulputate ullamcorper sapien, ac iaculis ex. Fusce id vulputate libero. Aenean aliquet sem eget
                velit
                convallis, at blandit dolor dapibus.
              </span>
            </ion-label>
          </ion-row>
          <ion-row class="comment other">
            <ion-avatar>
              <img class="img-profil-small" src="../../assets/imgs/avatar/avatar_h.png">
            </ion-avatar>

            <ion-label class="text-align-left">
              <span class="normal-name">
                Dr Louise Depuis<br>
              </span>
              <span class="normal-lieu">
                Dentiste - Lyon<br>
              </span>
              <span class="comment-txt">
                <br>
                Morbi vulputate ullamcorper sapien, ac iaculis ex. Fusce id vulputate libero. Aenean aliquet sem eget
                velit
                convallis, at blandit dolor dapibus.
              </span>
            </ion-label>
          </ion-row>
          <ion-row class="comment other">
            <ion-avatar>
              <img class="img-profil-small" src="../../assets/imgs/avatar/avatar_f.png">
            </ion-avatar>

            <ion-label class="text-align-left">
              <span class="normal-name">
                Dr Louise Depuis<br>
              </span>
              <span class="normal-lieu">
                Dentiste - Lyon<br>
              </span>
              <span class="comment-txt">
                <br>
                Morbi vulputate ullamcorper sapien, ac iaculis ex. Fusce id vulputate libero. Aenean aliquet sem eget
                velit
                convallis, at blandit dolor dapibus.
              </span>
            </ion-label>
          </ion-row> -->

          <ion-row class="other">
            <ion-col class="large-col" col-10>
              <ion-row>
                <ion-textarea class="comment-input" [(ngModel)]="faq_comment" placeholder="Hello ..."></ion-textarea>
              </ion-row>
            </ion-col>

            <ion-col class="col-50-px">
              <ion-row (click)="takePicture()">
                <img class="icon-camera" src="../../assets/imgs/da_image/photo-camera-blue.png" alt="Photo">
              </ion-row>
              <ion-row (click)="addComment();">
                <img class="icon-camera" src="../../assets/icon/send.png" alt="Photo">
              </ion-row>
            </ion-col>


          </ion-row>

        </ion-col>
      </ion-row>
    </div>

  </div>

</ion-content>
