page-annonce-boost {

  .container {
    padding-top: 15px;
    text-align: center;
    background-image: url('../../assets/imgs/background/fond-4.png');
    background-size: 100% 100%;
    min-height: 100%;


  }

  .top-margin {
    height: 30px;
  }

  .logo {
    width: 100px;
    height: 85px;
  }

  .color-white {
    color: white;
  }

  .btn-blue-gradient {
    width: 90%;
    text-transform: none;
    font-size: 120%;
    margin: auto;
    margin-top: 10px;
    background: -moz-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: -webkit-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    border-radius: 5px;
    font-weight: bold;
    box-shadow: none;
    border: 1px solid color($colors, bleurightbtn);
    text-align: left;
    color: white;

    ion-col {
      padding: 3px;
      margin: 0;
    }

    .tarif {
      width: 70px;
    }

    .tarif ion-label {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Raleway Semi-', sans-serif;
      font-style: Italic;
      font-size: 130%;
    }

    .desc-abon ion-label {
      white-space: normal;
    }

    .icon-checked {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
  }

  .btn-blue-gradient .button-inner {
    justify-content: flex-start;
  }

  .btn-no-bg {
    color: color($colors, bleu);
    font-size: 120%;
  }

  .gc-left {
    font-size: 130%;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bolder;
    float: left;
  }

  .gc-right {
    font-size: 130%;
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    font-weight: bolder;
    float: right;
  }

  .gc-label {
    text-align: justify;
    white-space: normal;
  }

  .back-gc {
    float: left;
    zoom: 2;
    margin-left: 5%;
  }

  .forward-gc {
    float: right;
    zoom: 2;
    margin-right: 5%;
  }

  .btn-blue-gradient-round {
    width: 84%;
    height: 50px;
    text-transform: none;
    font-size: 120%;
    margin: auto;
    margin-top: 15px;
    background: -moz-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: -webkit-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    box-shadow: none;
    border: 1px solid color($colors, white);
  }

  .check-icon {
    width: 30px;
    height: 30px;
  }

  .bottom-annuler {
    height: 100%;
  }

}
