page-createacc3 {

  .container {
    padding-top: 15px;
    text-align: center;
    background-repeat: no-repeat;
    background: radial-gradient(circle at 20% -5%,#327AD6 48%,rgba(0,0,0,0.0) 48%),
    radial-gradient(circle at 30% 10%,#53E0E9 50%,rgba(0,0,0,0.0) 50%),
    radial-gradient(circle at 40% 16%,#90EFEA 64%,rgba(0,0,0,0.0) 64%),
    radial-gradient(circle at 45% 22%,#B5F6EE 72%,rgba(0,0,0,0.0) 72%),
    radial-gradient(circle at 50% 22%,#D7FCF2 80%,rgba(0,0,0,0.0) 80%);
    min-height: 100%;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin: auto;
  }

  .da-ctn {
    margin: auto;
    margin-top: -15px;
  }

  .da {
    font-size: 150%;

    .bold {
      font-weight: bolder;
    }

    .fine {
      font-weight: 100;
    }
  }

  .wc-ctn {
    margin-top: -15px;
  }

  .wc {
    font-size: 130%;
    font-weight: bolder;
    white-space: normal;
  }

  .color-white {
    color: white;
  }

  .form-ctn {
    background-color: rgba(255, 255, 255, 0.97);
    width: 96%;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    margin-top: 0px;
    padding: 10px;
    border: 1px solid #f5f5f5;
  }

  .label-ctn {
    text-align: left;
    padding: 7px;
    color: rgba($color: #e0e0e0, $alpha: 1);

    .bottom-label {
      margin-bottom: -20px;
      font-size: 130%;
    }
  }

  .bb-input {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 40px;
  }

  .map-marker {
    width: 28px;
    height: 40px;
    margin-top: -5px;
  }

  .cacc-avatar {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
  }

  .margin-a {
    padding-top: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }

  .vertdc {
    width: 17px;
    height: 17px;
    background-color: color($colors, vertdc);
    border-radius: 50%;
    margin: 5px;
  }

  .greydc {
    width: 17px;
    height: 17px;
    background-color: #D3EDff;
    border-radius: 50%;
    opacity: 1;
    margin: 5px;
  }

  .btn-blue-gradient .button-inner {
    justify-content: flex-start;
  }

  .btn-blue-gradient-round {
    width: 90%;
    height: 50px;
    text-transform: none;
    font-size: 120%;
    margin: auto;
    margin-top: 15px;
    background: -moz-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: -webkit-linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    background: linear-gradient(to right, color($colors, bleu), color($colors, bleurightbtn));
    box-shadow: none;
  }

  .btn-no-bg {
    color: color($colors, bleu);
    font-size: 120%;
  }

  .map-ctn {
    width: 100%;
    height: 200px;
  }

  #map {
    height: 100%;
    width: 100%;
    background-color: red;
  }

  .btn-light {
    height: 50px;
    margin-top: 10px;
    text-transform: none;
    background-color: rgba($color: #ffffff, $alpha: 1);
    font-size: 120%;
    color: color($colors, bleu);
    width: 60%;
  }

}
